// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header_box{
  height: 12vh;
  width:100%;
  background-image: url('/images/sky.jpg');
  position: fixed;
  z-index: 1;
  transition: 1s;
  &__title{
    display: inline-block;
    font-size: 50px;
    padding: 1vh 0 0 1vh;
    color: lightyellow;
  }
  &__link_wrapper{
    display: flex;
    float: right;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    &__admin-login{
      margin-left: 35px;
      .new_product_link{
        padding-left: 3vh;
      }
    }
    &__wantedly{
      margin-left: 35px;
      margin-right: 35px;
      .wantedly-link{
        text-decoration: none;
        color: white;
      }
    }
    &__github{
      margin-right: 40px;
      .github-link{
      text-decoration: none;
      color: white;
      }
    }

    &__contact{
      margin-left: 35px;
      margin-right: 30px;
      color: white;
    }
  }
}

.main_box{
  padding-top: 12vh;
  background-image: url('/images/background5.jpg');
  background-size: cover;
  height: 850px;
  width: 100%;
  &__content_area{
      padding: 4vh 8vh 1vh 8vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between;
      font-family: sans-serif;
      font-size: 15px;
      color: black;
  }
}

.content-box{
  height: 45vh;
  width: 48vh;
  background-color: lightgreen;
  opacity: 0.8;
  margin-top: 3vh;
  &__title{
    margin-top: 1vh;
  }
  &__language{
    margin-top: 1vh;
  }
  &__environment{
    margin-top: 1vh;
  }
  &__image{
    margin-top: 2vh;
    text-align: center;
  }
  &__description{
    margin-top: 2vh;
  }
  &__address{
    margin-top: 3vh;
    &__link{
    text-decoration: none;
    }
  }
}

.content-box2{
  height: 45vh;
  width: 48vh;
  background-color: lightcoral;
  opacity: 0.5;
  margin-top: 3vh;
  transition: 0.8s;
  opacity: 0;
  &__title{
    margin-top: 1vh;
  }
  &__language{
    margin-top: 1vh;
  }
  &__environment{
    margin-top: 1vh;
  }
  &__image{
    margin-top: 2vh;
    text-align: center;
  }
  &__description{
    margin-top: 2vh;
  }
  &__address{
    margin-top: 3vh;
    &__link{
    text-decoration: none;
    }
  }
}


.footer_box{
  height: 12vh;
  position: relative;
  background-color:black;
  ul {
    margin: 0;
    padding-top: 3vh;
    list-style: none;
    display: flex;
    justify-content: center; 
    .lists-change:hover{
      background-color: orangered;
    }
    .list1{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: lightsalmon;
    }
    .list2{
      margin-left: 3vh;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: lightskyblue;
    }
    .list3{
      margin-left: 3vh;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: lightseagreen;
    }
  }
  .font-property{
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
  }
  .fonts1{
    padding-left: 12px;
  }
  .fonts2{
    padding-left: 15px;
  }
  .fonts3{ 
    padding-left: 14px;
  }
  &__right {
    position: absolute;
    right: 0;
    top: 3vh;
    float: right;
    color: white;
    opacity:0.1;
  }
}

@media screen and (max-width:1200px){
  .main_box{
    padding-top: 12vh;
    background-image: url('/images/background5.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    &__content_area{
        padding: 4vh 8vh 0 8vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 18px;
    }
  }
}

@media screen and (max-width:500px){
  .header_box{
    &__title{
      font-size: 24px;
    }
  }

  .main_box{
    padding-top: 12vh;
    background-image: url('/images/background5.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    &__content_area{
        margin: 0 auto;
        padding: 4vh 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        font-size: 12px;
    }
  }
}
