// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header_box{
  height: 100px;
  &__title{
    display: inline-block;
    font-size: 50px;
    padding-top: 10px;
  }
  &__link_wrapper{
    display: flex;
    float: right;
    font-size: 20px;
    padding-top: 60px;
    &__admin-login{
      margin-left: 30px;
    }
    &__wantedly{
      margin-left: 30px;
    }
    &__contact{
      margin-left: 30px;
      margin-right: 20px;
    }


  }
}

.main_box{
  // padding-top: 15%;
  background-image: url('/images/background5.jpg');
  background-size: cover;
  height: 800px;
  width: 100%;
}
