// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header_box{
  position: fixed;
  height: 20%;
  &__link_wrapper{
    display: flex;

    &__admin-login{
      float: right;
    }
    &__wantedly{
      float: right;
    }
    &__contact{
      float: right;
    }


  }
}

.main_box{
  padding-top: 20%;
}
