// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header_box{
  height: 100px;
  &__title{
    width: 400px;
  }
  &__link_wrapper{
    display: flex;
    float: right;
    &__admin-login{
      margin-left: 5%;
    }
    &__wantedly{
      margin-left: 5%;
    }
    &__contact{
      margin-left: 5%;
    }


  }
}

.main_box{
  padding-top: 15%;
  background-image: url('/images/background5.jpg');
  background-size: cover;
  height: 800px;
  width: 100%;
}
