
.footer_box
  -# %p.comment-ruby
  -#   I like Ruby!!
  %ul
    %li.list1.lists-change
      %i.fas.fa-gem.fonts1.font-property
    %li.list2.lists-change
      %i.fab.fa-python.fonts2.font-property
    %li.list3.lists-change
      %i.fas.fa-hamburger.fonts3.font-property

  .footer_box__right
    = link_to admin_root_path do
      管理者用ログインページ
    :javascript
      var Kairos3Tracker = "khirano";
    %script{:charset => "utf-8", :src => "//c.k3r.jp", :type => "text/javascript"}
