

.header_box
  .header_box__title
    Portfolio of Keitaro Hirano
  .header_box__link_wrapper
    -# -if current_user == 管理者
    -# ログインのリンクは残しては置けん＝直接リンクや
    .header_box__link_wrapper__admin-login
      Admin in&out
    .header_box__link_wrapper__wantedly
      Wantedly
    .header_box__link_wrapper__contact
      Contact


-# link_toを貼ってください
