

.header_box
  .header_box__title
    Portfolio of Keitaro Hirano
  .header_box__link_wrapper
    .header_box__link_wrapper__admin-login
      -if user_signed_in?
        -if current_user.id == 1
          =link_to destroy_user_session_path, method: :delete do
            signed out
          =link_to new_admin_product_path, class: "new_product_link" do
            add new product!
    .header_box__link_wrapper__wantedly
      =link_to "Wantedly", "https://www.wantedly.com/users/121829243", target: :_blank, class: "wantedly-link"
    .header_box__link_wrapper__github
      =link_to "GitHub", "https://github.com/hirakei1203", target: :_blank, class: "github-link"

